<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Information</title>
</head>

<body>
    <h1>
    Pokemon Information:
        <br>
    </h1>
    This Pokemon Name: <%= name %>
    <br>
    This Pokemon id: <%= id %>
    <br>
    <div class="pokemon container">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= id %>.png"
        alt="">
    </div>
    <br>
    Here are the stats of the Pokemon:
    <br>
    HP : [<%= hp %> / 255]
    <progress value="<%= hp %>" max="255" <%= hp %>></progress>

    </h1>
</body>

</html>